@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* header {
  height: 100vh;
} */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(74, 74, 243);
}

.lessThan {
  display: flex;
  flex-direction: row;
}
